@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  --tw-ring-color: #1E4FA0;
}

@layer utilities {
  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

  .animate-bounce-slow {
    animation: bounce-slow 1.6s ease-in-out infinite;
  }
}
